:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nz-header {
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.06);
  width: 100%;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 30px 16px 0;
  float: left;
}

.header-menu {
  line-height: 64px;
}
