:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .sider-menu {
    height: 100%;
    border-right: 0;
    
  }

  .inner-layout {
    padding: 0 0 0;
  }

  .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    margin-top: 1.25rem;
    border-right: 1px solid rgba(0,0,0,.06);
  }

  nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

  .ant-menu-title-content a{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
  }